@import '/src/styles.scss';

.modal-new-recipe {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid #02292e;
  border-radius: 10px;
  background-color: #ffffff;
  width: 800px;
  max-width: 80%;
  padding: 10px;
  box-sizing: border-box;

  &-header {
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 15fr 0.5fr;
    align-items: center;
    grid-gap: 20px;

    &-button {
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      font-size: 2.5em;
      transition: 1s;

      &:hover {
        color: #0b7d8c;
      }
    }
  }

  &-form {
    padding: 10px 15px;

    &-container {
      display: grid;
      row-gap: 10px;

      &-add {
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        width: 100%;
        margin: 0 auto;
        grid-gap: 30px;
        align-items: start;
      }

      &-file {
        display: grid;
        grid-template-columns: 1fr 4fr;
        align-items: center;
        column-gap: 5px;

        &-label {
          padding: 10px;
          width: 200px;
          text-align: center;
          cursor: pointer;
        }
      }


      &-add-ingredients {
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: end;
        column-gap: 10px;

        &-button {
          width: 120px;
          max-width: 200px;
          margin-left: 15px;
        }
      }
    }
  }
}

.active {
  transform: translate(-50%, -50%) scale(1);
}

.is-invalid {
  border: 1px solid red;
  outline: none;
}

.is-valid {
  border: 1px solid green;
  outline: none;
}

.container {
  padding: 32px;
}