<div class="modal-new-recipe" [ngClass]="{ active: modalVisible }">
  <div class="modal-new-recipe-header">
    <div class="modal-new-recipe-header-title">
      <h2 class="modal-title">Adicionar Nova Receita</h2>
    </div>
    <button class="modal-new-recipe-header-button" (click)="onClick()">&times;</button>
  </div>
  <div class="modal-new-recipe-form">
    <form [formGroup]="form">
      <div class="form-controls">
        <fieldset>
          <legend style="margin-bottom: 5px">Selecione a Categoria da Receita:</legend>
          <select formControlName="category" class="input-default">
            <option *ngFor="let category of categories" [value]="category.category">
              {{ category.category }}
            </option>
          </select>
        </fieldset>
      </div>
      <div class="form-controls">
        <app-input-field
          id="recipeName"
          label="Nome da Receita: "
          type="text"
          formControlName="recipeName"
          placeholder=" "
        ></app-input-field>
      </div>
      <div class="form-controls">
        <app-input-field
          id="preparationTime"
          label="Tempo de Preparo: "
          type="text"
          formControlName="preparationTime"
          placeholder=" "
        ></app-input-field>
      </div>
      <div class="form-controls">
        <app-input-field
          id="revenue"
          label="Rendimento: "
          type="text"
          formControlName="revenue"
          placeholder=" "
        ></app-input-field>
      </div>
      <div class="modal-new-recipe-form-check">
        <app-input-field
          id="image"
          label="Foto da Receita: "
          type="file"
          formControlName="image"
          placeholder=" "
          (change)="fileUpload($event.target)"
          class="modal-new-recipe-form-check-input-file"
        ></app-input-field>
        <div>
          <legend>Sua Receita é uma Favorita?</legend>
          <div class="form-check">
            <label *ngFor="let item of favoriteRecipes" class="form-check-label">
              <input type="radio" formControlName="betestDishes" [value]="item.valor" />
              {{ item.desc }}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-new-recipe-form-add-ingredients form-controls">
        <app-input-field
          id="ingredients"
          label="Ingredientes: "
          type="text"
          formControlName="ingredients"
          placeholder=" "
          class="modal-new-recipe-form-add-ingredients-control"
        ></app-input-field>
        <button class="btn-default modal-new-recipe-form-add-ingredients-button">Adicionar</button>
      </div>
      <div class="form-controls">
        <label for="methodOfPreparation">Modo de Preparo:</label>
        <textarea
          id="methodOfPreparation"
          cols="70"
          rows="5"
          class="input-default"
          formControlName="methodOfPreparation"
        ></textarea>
      </div>
      <button class="btn-default" type="submit">Enviar Receita</button>
    </form>
  </div>
</div>
