.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #022c3778;
  pointer-events: none;
  transition: 200ms ease-in-out;

}

.active {
  opacity: 1;
  pointer-events: all;
}