@import '/src/styles.scss';

.banner-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 340px;
  background: $main-gradient;

  &-h1 {
    font-family: 'Hurricane', cursive;
    font-weight: normal;
    align-self: center;
    font-size: 100px;
    margin-top: 105px;
    &-a {
      color: #ffffff;
      transition: 1s ease;
      &:hover {
        color: $hover;
      }
    }
  }
}