<section class="about-kika">
  <div class="about-kika-text">
    <h2 class="title-main-section">Quem é Vovó Kika?</h2>
    <p class="about-kika-text-p">
      Corina Bandeira, carinhosamente conhecida como "Vovó Kika", foi uma campinense arretada, esposa do saudoso Jaime
      Bandeira, mãe de nove filhos, mulher forte que desde cedo descobriu seu amor pela culinária e pelo artesanato.
    </p>
    <p class="about-kika-text-p">
      Vovó Kika fez muitos cursos com o intuito de aprimorar o dom que lhe era nato: cozinhar. Nunca viveu desse
      trabalho, mas tinha muito prazer em cozinhar para os seus filhos e netos.
    </p>
    <p class="about-kika-text-p">
      "Lember" a colher com que ela batia os bolos era motivo de grande disputa entre os mais de 15 netos! Mas no fim,
      todos se deliciavam com as gostosuras que a vovó preparava!
    </p>
  </div>
  <img src="assets/images/vovo.png" alt="Vovó Kika" class="about-kika-image" />
</section>
