@import '/src/styles.scss';

.about-kika {
  width: 100%;
  max-width: 940px;
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  color: #000000;
  margin-bottom: 40px;
  line-height: 1.5;

  &-text {
    width: 50%;
    align-self: center;

    &-p {
      margin-bottom: 10px;
      text-align: justify;
    }
  }

  &-image {
    width: 350px;
    border-radius: 40px 10px;
    box-shadow: 5px 5px 5px rgb(72, 216, 168);
  }
}
