.add-recipe {
  margin: 10px;
  position: absolute;
  right: 0;

  &-btn {
    position: absolute;
    cursor: pointer;
    position: relative;
    display: block;
    height: 20px;
    width: 20px;
    align-items: center;

    &-span {
      position: absolute;
      display: block;
      height: 2px;
      width: 100%;
      border-radius: 30px;
      background: #022c37;
      transition: 0.25 ease-in-out;

      &:nth-child(1) {
        top: 10px;
      }

      &:nth-child(2) {
        top: 10px;
        transform: rotate(90deg);
      }
    }
  }
}
