$primary: rgb( 74, 185, 185 );
$secondary: rgb( 72, 216, 168 );
$main-gradient: linear-gradient(rgb( 74, 185, 185 ), rgb( 72, 216, 168 ));
$footer-gradient: linear-gradient(rgb( 49, 134, 134 ), rgb( 72, 216, 168 ));
$hover: #066673;