.title-main-section {
  font-size: 2em;
  margin-bottom: 20px;
}

.subtitle-main-section {
  font-size: 1.2em;
  margin: 10px 0;
  color: #09434b;
}

.modal-title {
  font-size: 2em;
  padding-bottom: 5px;
  border-bottom: 1px solid #09434b;
}
